<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your Team</h1>
    <h2>Total Member: {{persons|length}} </h2>
    <p>
        {% if persons|length < 4 %}
            <span>We need more members ({{ persons|length }})</span>
        {% elif persons|length >= 4 %}
            <span>Congratulations, we have enough members ({{ persons|length }})</span>
        {% endif %}
    </p>
    
<ul>
    {% for person,age in persons  %}
         <li>
             <h3>{{person|upper}} - {{age}}</h3> 

         </li>
    {% endfor %}
</ul>   
<h3>Today Temperature: 
    
    {% if temperature > 29 %}
        <span style="color:red">Hot- {{temperature}}</span>
    {% else %}
    <span style="color:aqua">Cool- {{temperature}}</span>
    {% endif %}
     
</h3>
</body>
</html>