{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create/Update {% endblock title %}
{% block content %}

{% if edit %}
<h1 class="text-center">Edit Data</h1>
{% else %}
<h1>Create New</h1>
{% endif %}
<div class="d-flex flex-wrap justify-content-between container">
{% for student in students %}
<div class="card col-3" style="width: 18rem;">
  <img src="{{student.photo.url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{student.name}}</h5>
    <p class="card-text">
      <p>{{student.email}}</p>
      <p>{{student.phone}}</p></p>
    
    <a href="#" class="btn btn-warning">Edit</a>
    <a href="#" class="btn btn-danger">Delete</a>
  </div>
</div>
{% endfor %}
</div>

<form class="container" method="POST" enctype="multipart/form-data" novalidate>
{% csrf_token %}
{{ form|crispy }}
<button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
